<!--This HTML is for the login screen-->


<div class="login-content centre" >
    <form class="c ">
      <h2 class="title">Sign in</h2>
      <div class="input-div one">
        
        <div class="div">
          <input type="email" id="defaultLoginFormUsername" class="input" placeholder="Username" name="logUsername"
            [(ngModel)]="logUsernameVar">
        </div>
      </div>
      <div class="input-div pass">
        
        <div class="div">
          <input type="password" id="defaultLoginFormPassword" class="input" placeholder="Password" name="logPassword"
            [(ngModel)]="logPasswordVar">
        </div>
      </div>
      <a routerLink="/resetpassword">Forgot password?</a>      
      <button block="true" class="btn" type="submit" (click)="customerLogin()">Login</button>
    Not a registered user?
        <a routerLink="/register">Sign up </a>
  
      
      <div *ngIf="succLogin" class="alert alert-danger">
        This customer does not exist!
      </div>
    
      <div *ngIf="invPass" class="alert alert-danger">
        Incorrect Password!
      </div>
    
      <div *ngIf="emptyUSR" class="alert alert-danger">
        Please enter a username!
      </div>
    
      <div *ngIf="emptyPSR" class="alert alert-danger">
        Please enter a password!
      </div>
    </form>
  </div>
  
  
  
    <!--End of login HTML-->
  