
  <div class="card"  *ngFor="let item of profileList">
    <div class="top"><span>{{item.SkillName}}</span>
    <div class="picture"></div>
    </div>
    <div class="bottom"><br><br><br><br><br>
        <div class="name">{{item.CustomerName}}</div><br>
        <h2>{{item.Bio}}</h2>
        <button  mat-raised-button color="primary" class="tfunction" (click)="requestprofiledetails(item.ProfileID)" type="button"
        class="btn btn-info btn-sm" data-toggle="modal" data-target="#profiledetails">View Gallery</button> <br><br>
        <button mat-raised-button color="accent" style="width: 100px; height: 100px; border-radius: 50%;" (click)="success()">CONNECT!</button>

        
    </div>
</div>







<!-- 

<div class="container">
    <div class="centre" style="border-style: double; ">
<mat-card class="example-card " *ngFor="let item of profileList" >
    <h1>{{item.SkillName}}</h1>
   <h1>{{item.CustomerName}}</h1>
    <br>
    <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTi9xX8QTUJrHRXT38MgHFekUam9Ro0azZjKU8o3YBI7LKYA8GN7FCTPbX1et3ogcoM9zs&usqp=CAU" alt="Photo of a Shiba Inu">
    <mat-card-content>
        
     <h2>{{item.Bio}}</h2>
    </mat-card-content>
    <mat-card-actions>
        <button  mat-raised-button color="primary" class="tfunction" (click)="requestprofiledetails(item.ProfileID)" type="button"
        class="btn btn-info btn-sm" data-toggle="modal" data-target="#profiledetails">View Gallery
       
      </button><br><br>
    </mat-card-actions>
  </mat-card>
  <button mat-raised-button color="accent" style="width: 100px; height: 100px; border-radius: 50%;">CONNECT!</button>

    </div> -->

   






<!-- Modal -->
<div id="profiledetails" class="modal fade" role="dialog">
    <!-- <form #QRdetails="ngForm"> -->
      <div class="modal-dialog modal-lg" role="document" >
        <div class="modal-content" style="color: black;" style="color: black; background-color: #F0F0F0;">
         
          <div class="modal-body">
            <h1 class="mt-2" style="font-size: 35px;">Gallery</h1> <br><br>
            <tr *ngFor="let line of CurrentProfileList">
                
                  
                <td> <img style="height: 100px; width: 100px;" *ngIf="line.File_Upload" [src]="line.File_Upload"></td>
 
              </tr>
          </div>
          <div class="modal-footer">
          
            <button type="button" class="btn btn-danger" mat-raised-button data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    <!-- </form> -->
  
  </div>