<div class="" style="width: 80%; margin-left: 10%;">
  <img src="../../assets/images/logo2.png" style="height: 80px; width: 310px; float: left;" alt="">
  <input type="radio" name="s" id="home" onclick="window.location='/explore';">
  <input type="radio" name="s" id="blog" checked>
  <input type="radio" name="s" id="code"  onclick="window.location='/explore';">
  <input type="radio" name="s" id="help">
  <!-- <input type="radio" name="s" id="about"> -->
  <button class="logbutton btn" >Logout</button>
  <nav>
      <div class="slider"></div>

      <label class="home" for="home">
          <i class="fa fa-search"></i>Explore
      </label>
      <label class="blog" for="blog">
          <i class="fa fa-suitcase"></i>My Portfolios
      </label>
      <label class="code" for="code">
          <i class="fa fa-book"></i>Projects
      </label>
      <label class="help" for="help">
          <i class="fa fa-envelope"></i>Notifications
      </label>
      <!-- <label class="about" for="about">
      <i class="fas fa-user"></i>About
    </label> -->

  </nav>
  
</div>
<div class="topbar centre">
  <h1>New Portfolio</h1>
</div>




<div class="container-fluid" >
    <form #form="ngForm" autocomplete="off" *ngIf="service.formData" (submit)="onSubmit(form)">
      
    <div class="row mt-5 ml-5" >
      
      <div class="col-sm-12 col-md-3">
       
                  
                  
      </div>
      
      <div class="col-sm-12 col-md-5">
        
        <div class="row">
         
        </div>
        <div  class="row" style="border-style: solid; border-width: 1px; border-color: lightgray; border-radius: 15px; padding:50px">
          <div class="col">
            
            <div class="col-sm-12 col-md-3">
              
            
            </div><br><br>
         

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="">Portfolio Picture:</label>
               
              </div>
              <div class="form-group col-md-6">
               
                <input type="file" (change)="file($event.target)" accept="image/*" >
                        
                <img width="200px" height="200px" *ngIf="object.url" [src]="object.url" class="image">
              </div>
            </div>


            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="">Portfolio Name:</label>
                
              </div>
              <div class="form-group col-md-6">
                <input name="Username" #Username="ngModel" [(ngModel)]="service.formData.Username"
                class="form-control" placeholder="What name would you like displayed?">
              
              </div>
            </div>



              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="">Creative Field:</label>
                  
                </div>
                <div class="form-group col-md-6">
                  <select name="SkillID" #SkillID="ngModel" [(ngModel)]="service.formData.SkillID"
                  class="form-control">
                  <option value="0">--Select Creative Field--</option>
                  <option *ngFor="let item of skillList" value="{{item.SkillID}}">{{item.Description}}</option>
              </select>
                </div>
              </div>


              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="">Pricing Details:</label>
                  
                </div>
                <div class="form-group col-md-6">
                  <input name="Pricing" #Pricing="ngModel" [(ngModel)]="service.formData.Pricing"
                  class="form-control" placeholder="What is your hourly rate? (Exclude the R)">
                
                </div>
              </div>

          
              
              <div class="form-group">
                <textarea class="form-control" id="textarea" rows="5"
                  placeholder="Type in your biography" name="Bio" #Bio="ngModel" [(ngModel)]="service.formData.Bio"></textarea>
              </div>
              
              <div class="form-group mt-3 col-md-6">
                <a  class="btn btn-sm btn-secondary text-white" style="border-radius: 30px; width: 700px; font-size: 18px;" (click)="AddorEditItem(null, service.formData.ProfileID)">Upload Images</a>
              </div>
              <div class="row mt-2">
                <div class="col-4" *ngFor="let item of service.uploadItems; let i=index;">
                  <img class="img artistwork img-fluid mt-5" style="height: 300px; width: 300px;" *ngIf="item.File_Upload" [src]="item.File_Upload">
                </div>
              </div><br>
              <div class="form-group align-self-end text-right mt-3 col-md-6 mt-5">
                <button type="submit" class="btn btn-success btn-sm" style="border-radius: 30px; width: 700px; font-size: 18px;">Save Portfolio</button>
              </div>
         
          </div>




        </div>


        
      </div>
      <div class="col-sm-12 col-md-3">
      
      
    
    
   
   
      </div>
    </div>
    </form>



  </div> <br><br><br>
