
        <div class="container">

            <h1 class="centre">Claim Refund</h1> <br>
        
                <div class="row ">
                    <div class="form-group flex" style="margin: 0 auto; width: 300px;" >
                        <label >Reason:</label>
                        <textarea class="form-control"  
                            placeholder="Provide a reason you would like to claim a refund" rows="6"
                           ></textarea>
                    </div>
    
                </div>
                <!-- <div class="row">
                    <div hidden class="form-group flex" style="margin: 0 auto; width: 300px;">
                        <label >Contact Number:</label>
                        <input class="form-control"  [(ngModel)]="service.messages.Customer_ID" name="Contact_Number"
                            #Contact_Number="ngModel"
                            >
                    </div>
                    <div hidden class="form-group flex" style="margin: 0 auto; width: 300px;">
                        <label >Cuso:</label>
                        <input class="form-control"  [(ngModel)]="service.messages.ProfileID" name="ProfileID"
                            #ProfileID="ngModel"
                            >
                    </div>
                </div> -->
                <!-- <button (click)="onSubmit()" class="btn btn-success">Save</button> -->
           <div class="flex centre" style="margin-top: 20px;">
    
          
                <button mat-raised-button color="accent" style="border-radius: 30px; width: 80px;" (click)="onSubmit()" mat-dialog-close>Send</button>
                <a style="margin-left: 10px;" type="button" style="border-radius: 30px; margin-left: 10px; width: 80px;"  mat-raised-button color="basic" mat-dialog-close>Cancel</a>
            </div>  
       
      
    
    
    
            </div>