<table class="table">
    <thead>
        <th>Bio</th>
        <th>Name</th>
        <th>Skill</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let item of profileList">
            <td>{{item.Bio}}</td>
            <td>{{item.Customer}}</td>
            <td>{{item.SkillName}}</td>
            <td>
                <button mat-raised-button color="primary" class="tfunction" (click)="requestprofiledetails(item.ProfileID)" type="button"
                class="btn btn-info btn-sm btn-block" data-toggle="modal" data-target="#profiledetails">View Profile
               
              </button>
            </td>

        </tr>
    </tbody>
</table>

<!-- Modal -->
<div id="profiledetails" class="modal fade" role="dialog">
    <!-- <form #QRdetails="ngForm"> -->
      <div class="modal-dialog modal-lg" role="document" >
        <div class="modal-content" style="color: black;" style="color: black; background-color: #F0F0F0;">
         
          <div class="modal-body">
            <h1 class="mt-2" style="font-size: 35px;">Profile Details</h1> <br><br>
            <table class="table">
              <thead>                
                <th>Upload Type</th>
                <th>Upload File</th>
              </thead>
              <tbody>
                <tr *ngFor="let line of CurrentProfileList">
                
                  <td>{{line.File_Type}}</td>
                  <td> <img style="height: 100px; width: 100px;" *ngIf="line.File_Upload" [src]="line.File_Upload"></td>
   
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
          
            <button type="button" class="btn btn-danger" mat-raised-button data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    <!-- </form> -->
  
  </div>