<!-- {{userData.Contact_Number}}
{{userData.Email_Address}} -->

<div class="container">
  <input type="radio" name="s" id="home"  href="#">
  <input type="radio" name="s" id="blog" checked>
  <input type="radio" name="s" id="code">
  <input type="radio" name="s" id="help">
  <!-- <input type="radio" name="s" id="about"> -->
  <nav>
    <div class="slider"></div>

<label class="home" for="home">
  <i class="fa fa-book"></i>Portfolios
</label>

  
    <label class="blog" for="blog">
      <i class="fa fa-suitcase"></i>Projects
    </label>
    <label class="code" for="code">
      <i class="fa fa-search"></i>Explore
    </label>
    <label class="help" for="help">
      <i class="fa fa-envelope"></i>Notifications
    </label>
    <!-- <label class="about" for="about">
      <i class="fas fa-user"></i>About
    </label> -->
  </nav>
</div>


  
<div class="container-fluid">
  
  <div class="row mt-5" >
    <div class="col-sm-12 col-md-3" *ngFor="let item of profileList">
      <img class="img profile-picture img-fluid" src="{{item.ProfilePic}}">
    </div>
    <div class="col-sm-12 col-md-5">
      <div class="row">
        <h4>Profile</h4>
      </div>
      <div class="row">
        <div class="col">
          
       
      
            <div class="form-row">
              <div class="form-group col-md-6"  *ngFor="let item of profileList">
                <select name="SkillID" #SkillID="ngModel" [(ngModel)]="service.formData.SkillID"
                      class="form-control">
                      <option value="{{item.SkillID}}">{{item.SkillName}}</option>
                      <option value="1">1</option>
                  </select>
              </div>
           
            </div>
            <div class="form-group"  *ngFor="let item of profileList">
              <textarea class="form-control" id="textarea" rows="5"
                placeholder="{{item.Bio}}" name="Bio" #Bio="ngModel" [(ngModel)]="service.formData.Bio"></textarea>
            </div>
            <div class="form-row">
              <div class="form-group mt-3 col-md-6">
                <a  class="btn btn-sm btn-success text-white" >Add Item</a>
              </div>
              <div class="form-group align-self-end text-right mt-3 col-md-6">
                <button type="submit" class="btn btn-secondary btn-sm">Save</button>
              </div>
            </div>
       
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3">
      <div class="row">
        <h4>My Uploads</h4>
        <div *ngFor="let item of profileList">
          <button mat-raised-button color="primary" class="tfunction" (click)="requestprofiledetails(item.ProfileID)" type="button"
          class="btn btn-info btn-sm btn-block">View Gallery
          
          </button>
          </div>
      </div>
      <div class="row mt-2">
        <div class="col-4" *ngFor="let item of CurrentProfileList; let i=index;">
          <img class="img artistwork img-fluid mt-5" style="height: 100px; width: 100px;" *ngIf="item.File_Upload" [src]="item.File_Upload">
        </div>
      </div>
    
  
  
 
      <div class="container">
        <div class="row mt-5">
          <div class="col align-self-end text-right">
            <div class="d-grid gap-2 ">
              <button type="button" class="btn btn-secondary btn-sm">Next</button><span> </span>
              <button type="button" class="btn btn-secondary btn-sm">Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 



</div> 





<!-- Modal -->
<div id="profiledetails" class="modal fade" role="dialog">

      <div class="modal-dialog modal-lg" role="document" >
        <div class="modal-content" style="color: black;" style="color: black; background-color: #F0F0F0;">
         
          <div class="modal-body">
            <h1 class="mt-2" style="font-size: 35px;">Profile Details</h1> <br><br>
            <table class="table">
              <thead>                
                <th>Upload Type</th>
                <th>Upload File</th>
              </thead>
              <tbody>
                <tr *ngFor="let line of CurrentProfileList">
                
                  <td>{{line.File_Type}}</td>
                  <td> <img style="height: 100px; width: 100px;"  [src]="line.File_Upload"></td>
   
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
          
            <button type="button" class="btn btn-danger" mat-raised-button data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>

  
  </div>