<app-navbar></app-navbar>
<div class="container" style="margin-top: 5%;">
    <h1 class="centre">My Notifications</h1>
   
    <table class="table table-borderless flex">
        <tr>
            <th>Date</th>
            <th>Contact_No</th>
            <th>Email</th>
            <th>Message</th>
            <th></th>
            <th></th>
        </tr>
        <tr *ngFor="let x of service.messageList">
            <td>17/08/2021</td>           
            <td>{{x.Contact_No}}</td>
            <td>{{x.Email_Address}}</td>
            <td>{{x.Message}}</td>
          
            
            <td><a class="btn btn-sm btn-danger text-white"><i class="fa fa-trash"></i></a></td>
        </tr>
    </table>
</div>


