<div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Creatives Connect</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav justify-content-center mr-auto">
          <!-- <li class="nav-item active">
            <a class="nav-link" href="accpro">Profile<span class="sr-only">(current)</span></a>
          </li> -->      
         
         
          <li class="nav-item">
            <a class="nav-link" href="clientexplore">Explore</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="mynotifications">Help</a>
          </li> -->
     
          <!-- <li>   <div class="form-group">
            <label>Job Type</label>
            <select name="Job_Type_ID" #Job_Type_ID="ngModel" [(ngModel)]="formData.Job_Type_ID"
                class="form-control" [class.is-invalid]="!isValid && formData.Job_Type_ID==0">
                <option value="0">-Select-</option>
                <option *ngFor="let item of jobList" value="{{item.Job_Type_ID}}">
                    {{item.Description}}</option>
            </select>
        </div></li> -->
      
         
        </ul>
        <form class="form-inline my-2 my-lg-0">
         
          <a class="btn btn-dark my-2 my-sm-0" type="submit" href="login">Sign In</a>
        </form>
      </div>
    </nav>
  </div>

