

.nav {
    width: 100%;
  
  }
  .navbar {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
  .card {
    height: 100%;
  }
  .img {
    border-radius: 10%;
  }
  .profile-picture {
    height: 300px;
  }
  .artistwork {
    border-radius: 40%;
    height: 120px;
    width: 90px;
  }
  .btn {
    border-radius: 5px 15px;
  }
  #input,
  #textarea {
    border-radius: 15px;
  }