<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification Card</title>
    
</head>
<body>
    <div class="card">
        <div class="top"><span>Notification</span>
     
        </div>
        <div class="bottom">
            <div class="name">Richard Webber</div>
            <div class="description">I want to connect with you. Lets chat!</div>
            <a href="#"><button class="customize">Chat with Richard</button></a>
        </div>
    </div>
    <div class="card" style="margin-left: 400px;">
        <div class="top"><span>Notification</span>
     
        </div>
        <div class="bottom">
            <div class="name">Cristina Yang</div>
            <div class="description">I want to connect with you. Lets chat!</div>
            <a href="#"><button class="customize">Chat with Cristina</button></a>
        </div>
    </div>
</body>
</html>